body {
  background-color: rgb(59, 57, 57);
  color: #eee;
}
.update,
.delete {
  padding: 10px;
  margin: 0 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.update {
  background-color: blue;
}
.delete {
  background-color: red;
}
.tasks {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.tasks li {
  background-color: #eee;
  color: black;
  margin: 5px 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
}
.update-div {
  margin: 10px;
}
.inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
}
.inputs input{
  margin: 10px;
}

@media (max-width: 639px) {
  .tasks {
    flex-direction: column;
  }
}
